@media (max-width: 575px) {
  .main-content-wrapper {
    display: block;
  }

  .hero {
    height: 10em;
    background-size: unset;
  }

  h1 {
    font-size: 2.6rem;
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .hero {
    height: 14em;
    background-size: unset;
  }

  h1 {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 768px) {
  header nav {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: var(--primary-bg-color);
    box-shadow: 0 5px 10px var(--shadow-light);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);

    transition: opacity var(--transition-speed) ease-out,
      transform var(--transition-speed) ease-out,
      visibility var(--transition-speed);
  }

  header nav.is-open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .hamburger-menu {
    display: flex;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  header nav li {
    width: 100%;
  }

  header nav a {
    display: block;
    padding: 1rem;
    text-align: center;
    transition: background-color var(--transition-speed) ease-out;
  }

  header nav a:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  header nav a::after {
    display: none;
  }

  .hamburger-menu.is-open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger-menu.is-open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.is-open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}

@media (min-width: 992px) {
  h1 {
    margin: 0 0 0 11%;
  }

  .hero {
    height: 19em;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}