#hero_home {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-position: 0% 53%;
}

.hero_text {
  width: 22em;
  font-size: 1.2em;
  text-shadow: 4px 4px 10px rgb(0, 0, 0, 1);
}
