@media (max-width: 575px) {
  #hero_home {
    gap: 0.7em;
    height: 18em;
  }

  .hero_text {
    font-size: 0.9em;
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: 576px) {
  #hero_home {
    gap: 0.7em;
    height: 22em;
  }

  .hero_text {
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  #hero_home {
    gap: 0.5em;
    height: 29em;
  }

  .hero_text {
    margin: 0 0 0 11%;
    text-align: unset;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
