* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 120px auto 100px;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.text-box {
  padding: 20px 30px;
  background-image: linear-gradient(to bottom right, #501d1d, #402a2a);
  position: relative;
  border-radius: 15px;
  z-index: 2;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  height: calc(100% - 40px);
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: 0%;
  z-index: 0;
  animationn: moveline 6s linear forwards;
}

@keyframes moveline {
  1% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.left-container-line {
  content: "";
  position: absolute;
  height: 3px;
  width: 20%;
  background: #fff;
  top: 0;
  left: 100%;
  margin-left: 0%;
  margin-top: 10%;
  transform: translateX(-50%); /* förankra mitten på mitten */
  transform-origin: 40% 50%; /* pivotpunkten → lite till vänster om mitten */
  z-index: 1; /*(-1) */
  animationn: moveline 6s linear forwards;
}

.right-container-line {
  content: "";
  position: absolute;
  height: 3px;
  width: 20%;
  background: #fff;
  top: 0;
  right: 100%;
  margin-left: 0%;
  margin-top: 10%;
  transform: translateX(50%); /* förankra mitten på mitten */
  transform-origin: 40% 50%; /* pivotpunkten → lite till höger om mitten */
  z-index: 1; /*(-1) */
  animationn: moveline 6s linear;
}

#timeline-title {
  position: relative;
  text-align: center;
  z-index: 3;
}
