* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
  align-items: center;
}

.text-box {
  border-radius: 15px;
  padding: 20px 30px;
  background-color: #501d1d;
  box-shadow: 0 0 16px var(--shadow-medium);
}

.profileimg {
  max-width: 90%;
  border-radius: 100%;
  box-shadow: 0 0 16px rgb(0, 0, 0, 0.5);
}

.back-link {
  color: var(--primary-text-color);
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, #501d1d, #402a2a);
  transition: all var(--transition-speed);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
    0 2px 4px var(--shadow-medium);
  max-width: 200px;
  margin: 30px;
}
