@media (max-width: 575px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    max-width: 1700px;
    justify-content: center;
  }

  .back-link {
    text-align: center;
  }
}

@media (min-width: 1400px) {
}
