.team_main {
  display: grid;
  grid-template-rows: auto 1fr;
}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5em 0 10em 0;
  gap: 4em;
}

.profilecomp {
  font-size: 0.92rem;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 15.8em;
  margin-top: 0;
  margin-bottom: 0;
}

.profileimg {
  width: 90%;
  border: solid black 2px;
  border-radius: 100%;
  align-self: center;
  box-shadow: 0 0 16px rgb(0, 0, 0, 0.25);
}

.profileheading {
  width: fit-content;
  margin: 0.5em 0 0;
  font-size: 1.7em;
  text-shadow: 4px 4px 10px rgb(0, 0, 0, 1);
}

.profilelink {
  color: white;
}

.profilelink:hover,
.profilelink:active {
  text-decoration: none;
}

.profiletext {
  margin: 0.4em 0 0;
  font-size: 1em;
  white-space: wrap;
  text-shadow: 4px 4px 10px rgb(0, 0, 0, 1);
}
