.profiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
  flex-wrap: wrap;
  gap: 4em;
	max-width: 93%;
}

.profilecomp {
  font-size: 0.92rem;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0;
  padding: 2em 1.5em;
  border-radius: 15px;
  box-shadow: 0 0 16px var(--shadow-medium);
  background-image: var(--seamless-gradient);
  background-attachment: fixed;
}

.profileimg {
  width: 90%;
  border-radius: 100%;
  align-self: center;
  box-shadow: 0 0 16px rgb(0, 0, 0, 0.5);
}

.profileheading {
  width: fit-content;
  margin: 0.5em 0 0;
  font-size: 1.8em;
  text-shadow: 4px 4px 6px var(--shadow-dark);
}

.profilelink {
  color: white;
}

.profilelink:hover,
.profilelink:active {
  text-decoration: none;
}

.profiletext {
  margin: 0.4em 0 0;
  font-size: 1.05em;
  white-space: wrap;
  text-shadow: 4px 4px 5px var(--shadow-dark);
}