@media (max-width: 575px) {
  .profiles {
    margin: -1em auto 2em auto;
    gap: 2em;
  }

  .profilecomp {
    height: unset;
		width: 17em;
  }

  .profileheading {
    align-self: center;
  }

  .profiletext {
    text-align: center;
    margin-top: 0.6em;
  }
}

@media (min-width: 576px) {
  .profiles {
    margin: 0 0 4em 0;
  }

  .profilecomp {
    height: unset;
		width: 19em;
  }

  .profileheading {
    align-self: center;
  }

  .profiletext {
    text-align: center;
    margin-top: 0.6em;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .profilecomp {
    width: 20em;
  }

  .profileheading {
    align-self: start;
  }

  .profiletext {
    text-align: start;
  }
}

@media (min-width: 1200px) {
  .profilecomp {
    height: 430px;
  }
}

@media (min-width: 1400px) {
  .profiles {
    margin: 3em 0 8em 0;
  }
}