@media (max-width: 575px) {
  .content-wrapper-team {
    display: block;
  }

  .profiles {
    margin: -1em auto 2em auto;
    gap: 2em;
  }

  .profilecomp {
    height: unset;
    width: 17em;
  }

  .profilecomp.axel,
  .profilecomp.fabian {
    animation: none;
    opacity: 0;
  }

  .profilecomp.axel.mobile {
    animation: animationIn-team-mobile 1s both;
  }

  .profilecomp.fabian.mobile {
    animation: animationIn-team-mobile 1s both;
  }

  .profileimg {
    height: auto;
    max-width: 100%;
    width: 16em;
  }

  .profileheading {
    align-self: center;
  }

  .profiletext {
    text-align: center;
    margin-top: 0.6em;
  }
}

@media (min-width: 576px) {
  .profiles {
    margin: 0 0 4em 0;
  }

  .profilecomp {
    height: unset;
    width: 19em;
  }

  .profilecomp.axel {
    animation: animationIn-team 1s 400ms both;
  }

  .profilecomp.siri {
    animation: animationIn-team 1s 200ms both;
  }

  .profilecomp.fabian {
    animation: animationIn-team 1s 600ms both;
  }

  .profileheading {
    align-self: center;
  }

  .profiletext {
    text-align: center;
    margin-top: 0.6em;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .profilecomp {
    width: 20em;
  }

  .profileheading {
    align-self: start;
  }

  .profiletext {
    text-align: start;
  }
}

@media (min-width: 1261px) {
  .profilecomp.axel {
    animation: animationIn-team 1s 200ms both;
  }

  .profilecomp.siri,
  .profilecomp.fabian {
    animation: animationIn-team 1s 400ms both;
  }
}

@media (min-width: 1200px) {
  .profilecomp {
    height: 430px;
  }
}

@media (min-width: 1400px) {
  .profiles {
    margin: 3em 0 8em 0;
  }
}
