@media (max-width: 575px) {
  .content-wrapper_fabian {
    display: block;
  }

  .hero_fabian {
    height: 10em;
    background-size: unset;
    margin-bottom: 1em;
  }

  #heading_fabian {
    font-size: 2.1rem;
  }

  .core-content {
    width: 94.5%;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile {
    margin-top: 2em;
    max-width: 93%;
  }

  .profileimg {
    width: 14em;
    max-width: 100%;
  }

  p {
    font-size: 0.95em;
  }

  .slides {
    margin-top: 0em;
    width: 95%;
  }

  .theslides {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
    margin-bottom: 5%;
  }

  .images {
    margin: 1em 0;
    max-width: 100%;
  }

  #commits_fabian {
    align-self: center;
    max-width: 80%;
    padding: 0 2em;
  }

  .commit-history_fabian {
    margin: -4em -1em -1.5em;
  }

  .table_heading {
    margin-left: auto;
  }

	table {
		margin: auto;
		margin-bottom: 5%;
	}
}

@media (min-width: 576px) {
  .hero_fabian {
    height: 14em;
    background-size: unset;
  }

  .core-content {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 2em;
  }

  .profile {
    padding: 2em 1em 1em;
    max-width: 90%;
  }

  .profileimg {
    width: 16em;
    max-width: 70%;
  }

  p {
    font-size: 0.95em;
  }

  .slides {
    margin-top: 0em;
    width: 90%;
    justify-content: center;
  }

  .theslides {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 80%;
    margin-bottom: 5%;
  }

  .images {
    margin: 1em 0 2em;
    max-width: 105%;
  }

  #commits_fabian {
    align-self: center;
    max-width: 85%;
    padding: 0 2em;
  }

  .commit-history_fabian {
    margin: -4em 0 -1em;
  }
}

@media (min-width: 768px) {
  .profileimg {
    width: 17em;
  }

  p {
    font-size: 1.05em;
  }

  #commits_fabian {
    width: 85%;
    max-width: unset;
  }
}

@media (max-width: 991px) {
  .buttonleft,
  .buttonright {
    display: none;
  }

  #commits_fabian {
    margin-top: 1em;
    box-shadow: none;
    background-image: none;
    max-height: unset;
  }

  #commits_fabian.inactive {
    opacity: 1;
    display: block;
  }

  .images {
    opacity: 1;
    display: block;
  }

  .back-link {
    display: inline-block;
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #501d1d, #402a2a);
    transition: all var(--transition-speed);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
      0 2px 4px var(--shadow-medium);
    margin-bottom: 5%;
  }

  .back-link:hover {
    transform: translateY(-3px);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
      0 5px 8px var(--shadow-medium);
  }
}

@media (min-width: 992px) {
  .hero_fabian {
    height: 19em;
    background-size: cover;
  }

  .profile {
    max-width: 85%;
  }

  .profileimg {
    width: 19em;
  }

  p {
    font-size: 1.1em;
  }

  .slides {
    margin: 2em 0;
    width: 80%;
    max-width: 47em;
    justify-content: space-between;
  }

  #commits_fabian {
    padding: 0 3em;
  }

  .images {
    margin: 0;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .core-content {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 3em;
    width: fit-content;
    min-height: 754px;
    max-width: 120em;
		margin-bottom: 0;
  }

  .profile {
    max-width: 90%;
  }

  .profileimg {
    width: 17em;
  }

  .slides {
    width: 100%;
    max-width: 50em;
    justify-content: space-between;
  }

  .theslides {
    max-width: 75%;
    margin-bottom: 0;
  }

  .images {
    max-width: 110%;
  }
}
