<footer>
  <div class="footer-top">
    <div class="logo-container">
      <img
        src="https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_196060000000000001/attachments/499/ca-emblem-white.svg"
        alt="Chas Academy Emblem"
      />
    </div>
    <nav>
      <ul>
        <li><a href="./">Hem</a></li>
        <li><a href="./qa.html">Frågor och svar</a></li>
        <li><a href="./team.html">Meet the team</a></li>
      </ul>
    </nav>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Grupparbete - Frontendprojekt</p>
  </div>
</footer>
