<header>
  <div class="logo-container">
    <img
      src="https://instructure-uploads-eu.s3.eu-west-1.amazonaws.com/account_196060000000000001/attachments/499/ca-emblem-white.svg"
      alt="Chas Academy Emblem"
    />
  </div>

  <button aria-label="Hamburger knapp" id="hamburger-btn" class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav id="main-nav">
    <ul>
      <li><a href="index.html">Hem</a></li>
      <li><a href="qa.html">Frågor och svar</a></li>
      <li><a href="team.html">Meet the team</a></li>
    </ul>
  </nav>
</header>