* {
  box-sizing: border-box;
}

.main_fabian {
  display: grid;
  grid-template-rows: auto 1fr;
}

.hero_fabian {
  display: flex;
  align-items: center;
  background-image: url("../images/Computer\ \(hero\).png");
  background-position: 0% 56%;
  box-shadow: 0 0 16px var(--shadow-medium);
}

.all {
  background-image: linear-gradient(to bottom right, #501d1d, #402a2a);
  box-shadow: 0 0 16px var(--shadow-light);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
  align-self: center;
  height: fit-content;
  max-width: 95%;
}

p {
  font-size: 1.5em;
  color: rgb(235, 235, 235);
  text-shadow: 4px 4px 8px var(--shadow-dark);
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.bilder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.bilderna {
  display: flex;
  justify-content: center;
  max-width: 80%;
}

.bild {
  transition: opacity 500ms;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 17px var(--shadow-medium);
}

.bild.inactive {
  opacity: 0;
  display: none;
}

.bild2 {
  transition: opacity 500ms;
  max-width: 100%;
  border-radius: 15px;
  opacity: 0;
  display: none;
	box-shadow: 0 0 17px var(--shadow-medium);
}

.bild2.active {
  opacity: 1;
  display: block;
}

button {
  outline: solid rgba(255, 255, 255, 0) 1.5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10%;
  width: 40px;
  height: 40px;
  transition: outline 75ms, background-color 100ms;
}

button:hover {
  background-color: rgb(71, 71, 71);
}

button:active {
  background-color: rgb(70, 70, 70);
}

button:focus {
  outline: solid white 1.5px;
}

.buttonright {
  cursor: pointer;
  display: block;
}

.buttonright.inactive {
  opacity: 50%;
  cursor: default;
}

.buttonleft {
  opacity: 50%;
  display: block;
}

.buttonleft.active {
  opacity: 1;
  cursor: pointer;
}

.arrows {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 1.5em;
}
