@media (max-width: 575px) {
  .hero_fabian {
    height: 10em;
    background-size: unset;
    margin-bottom: 1em;
  }

  #heading_fabian {
    font-size: 2.1rem;
  }

  .middle {
    width: 95%;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile {
    padding: 2em 1em 1em;
    max-width: 90%;
  }

  p {
    font-size: 0.7em;
  }

  .slides {
    margin-top: 0em;
    width: 95%;
  }

  .theslides {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 100%;
  }

  .bild {
    margin: 2em 0;
  }

  #commits_fabian {
    align-self: center;
    max-width: 80%;
    border-radius: unset;
    background: transparent;
  }
}

@media (min-width: 576px) {
  .hero_fabian {
    height: 14em;
    background-size: unset;
  }

  .middle {
    max-width: 95%;
    margin: 1.5em;
  }

  p {
    font-size: 0.8em;
  }

  .theslides {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #commits_fabian,
  .bild {
    margin: 2em auto;
  }
}

@media (min-width: 768px) {
  .middle {
    margin: 4em;
  }

  p {
    font-size: 0.9em;
  }

  .theslides {
    display: unset;
  }
}

@media (min-width: 992px) {
  .hero_fabian {
    height: 19em;
    background-size: cover;
  }
}

@media (max-width: 1020px) {
  .buttonleft,
  .buttonright {
    display: none;
  }

  #commits_fabian.inactive {
    opacity: 1;
    display: block;
  }

  .bild {
    opacity: 1;
    display: block;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 1em;
  }
}

@media (min-width: 1400px) {
  p {
    font-size: 1.1em;
  }

  .middle {
    max-width: 110em;
  }
}
