@media (max-width: 575px) {
  .hero_fabian {
    height: 10em;
    background-size: unset;
  }

  .all {
    width: 95%;
    padding: 0em;
    margin: 0.5em;
  }

  .paragrafer {
    padding: 0 1.5em 2em 1.5em;
    max-width: 90%;
  }

  p {
    font-size: 0.9em;
  }

  .bilder {
    margin-top: 0em;
    justify-content: center;
    width: 95%;
  }

  .bilderna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
  }

  .bild,
  .bild2 {
    margin: 1em auto;
  }

  .bild2 {
    max-width: 65%;
  }
}

@media (min-width: 576px) {
  .hero_fabian {
    height: 14em;
    background-size: unset;
  }

  .all {
    width: 95%;
    padding: 0em;
    margin: 1.5em;
  }

  .paragrafer {
    padding: 0 0.5em;
    margin: 0em 0.5em 2.5em 0.5em;
    max-width: 90%;
    border: none;
    border-left: solid black 2px;
    border-right: solid black 2px;
  }

  p {
    font-size: 1.2em;
  }

  .bilder {
    margin-top: 0em;
    justify-content: center;
    width: 85%;
  }

  .bilderna {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bild,
  .bild2 {
    margin: 2em auto;
  }

  .bild2 {
    max-width: 65%;
  }
}

@media (min-width: 768px) {
  .all {
    border: solid 0.2em black;
    width: 95%;
    padding: 0em;
    margin: 2em;
  }

  .paragrafer {
    padding: 1em;
    margin: 0 6em 1em 6em;
    max-width: 95%;
    border-left: solid black 2px;
    border-right: solid black 2px;
  }

  p {
    font-size: 1.4em;
  }

  .bilder {
    margin-top: 2em;
    justify-content: space-between;
    width: 65%;
  }

  .bilderna {
    display: flex;
    justify-content: center;
    max-width: 85%;
  }

  .bild2 {
    display: none;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .hero_fabian {
    height: 19em;
    background-size: cover;
  }

  .buttonleft,
  .buttonright {
    display: block;
  }

  .bilder {
    margin-top: 2em;
    justify-content: space-between;
    width: 55%;
  }
}

@media (max-width: 1020px) {
  .buttonleft,
  .buttonright {
    display: none;
  }

  .bild.inactive {
    opacity: 1;
    display: block;
  }

  .bild2 {
    opacity: 1;
    display: block;
  }

  .bilder {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .bilder {
    width: 48%;
  }

  p {
    font-size: 1.5em;
  }
}

@media (min-width: 1400px) {
  .all {
    width: 100em;
  }

  .bilder {
    width: 45%;
  }
}
